<div *ngIf="isLoaded">
  <app-render-blog [disabled]="disabled" [blogModel]="blogModel"></app-render-blog>
  
  <button (click)="save()" class="btn btn-primary float-right ml-2" style="min-width:100px">Save</button>
  <button (click)="delete()" class="btn btn-danger float-right">Delete</button>

</div>


