
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:#e1e1e1
}

a, .btn-link {
    color: #0366d6;
}



.bwm-body-dark {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 8% , rgb(47 55 60) 100%); 
    background-attachment: fixed;
}


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: black;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
