<div class="mb-5">
  <app-nav-menu></app-nav-menu>
  <div [class]="getPageContainerStyle()">
    <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
  </div>
  <app-loader-overlay></app-loader-overlay>
</div>
