
:host ::ng-deep .ck-editor__editable_inline {
  min-height: 300px;
  border:none;
}


:host ::ng-deep .ck-editor__editable {
  background-color:transparent !important;
  color: white !important;
}

:host ::ng-deep .ck.ck-toolbar { 
}
