<div class="row">
  <div class="col-sm-6">
    <app-map-gallery></app-map-gallery>
  </div>
  <div class="col-sm-6 pl-5"> 
    <div class="mt-5">
      <div *ngFor="let blog of blogs" class="mb-3 ">
        <div class="float-right"> 
          <button class="btn btn-warning btn-sm " (click)="editBlog(blog)">Edit</button>
        </div>
        <app-render-blog [disabled]="true" [blogModel]="blog"></app-render-blog> 
      </div>

      <!--<div *ngIf="isLoggedIn()" class="mt-5">
        <h4>Create News Blog</h4>
        <div class="mb-2">
          <div>Subject</div>
          <input [(ngModel)]="blogSubjectInput" class="form-control" />
        </div>
        <ckeditor style="height:300px;" (ready)="onReady($event)" [editor]="Editor" [(ngModel)]="blogMessageInput"></ckeditor>
        <button (click)="createBlog()" class="btn btn-primary">Create Blog</button>
      </div>-->
    </div>
  </div>
</div>
