<div class="mb-3"> 
  <div *ngIf="!disabled">
    <h4>Subject</h4>
    <input class="form-control" [(ngModel)]="blogModel.subject" />
  </div>
  <div *ngIf="disabled">
    <h4>{{blogModel.subject}}</h4>
    <div class="text-left"><a href="">2 Comments</a></div>
  </div>
</div>


<div class="mb-3">
  <ckeditor *ngIf="disabled" [disabled]="disabled" [config]="{ toolbar: [] }" (ready)="onReady($event)" [editor]="Editor" [(ngModel)]="blogModel.messageBody"></ckeditor>
  <ckeditor *ngIf="!disabled" (ready)="onReady($event)" [editor]="Editor" [(ngModel)]="blogModel.messageBody"></ckeditor>
</div>

<div class="mt-5 mb-3">
  <div>
    <!--<div>Created: {{blogModel.createdDate  | date: 'short'}} </div>-->
   <!-- <div>Last Modified {{blogModel.modifiedDate  | date: 'short'}} By: {{blogModel.userId}}</div>-->
  </div> 
</div>
