<header class="mb-1">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark bwm-menu-blue">
    <div class="container-fluid p-0 m-0">
      <!-- BWMN2 ICON -->
      <div>
        <a class="navbar-brand" href="#">
          <img style="margin:-10px; padding-right:5px;" src="./icons/bwmn.png" width="80" height="80" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <a class="navbar-brand" [routerLink]="['/']">BWMN2</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-light" [routerLink]="['/']">Home</a>
          </li>
          <li *ngIf="isLoggedIn()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/maps/create']">Create Map</a>
          </li>
          <li *ngIf="isLoggedIn()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/maps/studio']">Map Studio</a>
          </li>
          <li *ngIf="isLoggedIn()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/restricted-page']">Admin Panel</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <button (click)="login()" *ngIf="!isLoggedIn()">Sign in</button>
          </li>
          <li class="nav-item mt-1" [routerLinkActive]="['link-active']">
            <span class="mr-3"> {{getName()}}</span>
            <button class="btn btn-dark btn-sm" (click)="logout()" *ngIf="isLoggedIn()">Log Out</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
