a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.bwm-menu-blue {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 8%, rgba(24,107,159,1) 41%, rgba(0,155,255,0.969625350140056) 100%);
  height: 60px !important;
}

.bwm-menu-blue > a{
  color: white !important;
}

.nav-item {
  margin-right: 1rem
}
