@import url('../../wwwroot/open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #e1e1e1;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 8%, rgb(47 55 60) 100%);
  background-attachment: fixed;
}

a, .btn-link {
  color: #48abff;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.content {
  padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
  outline: 1px solid #26b050;
}

.invalid {
  outline: 1px solid red;
}

.validation-message {
  color: red;
}


.ck-editor__editable_inline {
  color: black !important;
  
}

:not(.ck-read-only).ck-editor__editable.ck-editor__editable {
  border: solid 1px #90e0f2 !important
}  
