.app-loader-overlay{
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    background-color:rgb(0 0 0 / .5);
}


.app-loader-widget {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
