<style>
  .isSelected {
    background-color: #23a0ca;
    border: solid 1px white;
    border-radius: 1px;
  }

  .app-isSelectable {
    cursor: pointer;
  }
</style>
  
<div *ngIf="isLoaded">
  <div>
    <div class="row">
      <div class="col-sm-12">
        <button (click)="toggleExpand()" class="btn btn-primary">
          <span *ngIf="isMenuVisible">-</span>
          <span *ngIf="!isMenuVisible">+</span>
        </button>
      </div>
    </div>
    <div class="row">
      <div [hidden]="!isMenuVisible" class="col-sm-1 border-right text-center">
        <div class="text-center">Maps</div>
        <button class="btn btn-secondary btn-sm">+</button>
        <div class="row">
          <div *ngFor="let map of maps" (click)="setSelectedMap(map)" class="col-sm-12 app-isSelectable">
            <div style="border:solid 1px #1871de;" class="mb-2 text-center w-100" [class.isSelected]="isMapSelected(map)">
              <img class="w-100" src="{{getFirstMapThumbnail(map)}}" />
              <div class="text-center">{{map.displayName}}</div>
            </div>
          </div>
        </div>
      </div>
      <div [hidden]="!isMenuVisible" class="col-sm-1 border-right text-center">
        <div class="text-center">Variants</div>
        <button class="btn btn-secondary btn-sm">+</button>
        <div class="row h-100">
          <div *ngFor="let variant of getSelectedMapVariants()" (click)="setSelectedVariant(variant)" class="col-sm-12 app-isSelectable">
            <div style="border: solid 1px #1871de; height: 120px" class="mb-2 text-center pt-3" [class.isSelected]="isVariantSelected(variant)">
              <img class="w-50" src="/icons/bwmn.png" />
              <div class="text-center">{{variant.displayName}}</div>
            </div>
          </div>
        </div>
      </div>
      <div [hidden]="!isMenuVisible || !isStudioMode()" class="col-sm-1 border-right text-center">
        <div> Versions</div>
        <button class="btn btn-secondary btn-sm">+</button>
        <div *ngFor="let version of getSelectedVariantVersions()" (click)="setSelectedVersion(version)" class="col-sm-12 mb-1 app-isSelectable">
          <div [class.isSelected]="isVersionSelected(version)">{{version.versionNumber}}</div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="pr-5"> 
          <app-edit-view-map [selectedMap]="selectedMap" [selectedVariant]="selectedVariant" [selectedVersion]="selectedVersion"></app-edit-view-map>
        </div>
      </div>
    </div>
  </div>
</div> 
