<div *ngIf="loaded">
  <div class="row">
    <div class="col-sm-3">
      <div style="width:100%; position:relative;  ">
        <div class="center2">
          <label for="file">Upload Map Thumbnail</label>
          <div>
            <input type="file" accept=".jpg,.jpeg,.png,.bmp" id="file" (change)="handleMapThumbnailInput($event.target.files)">
          </div>
        </div>
        <img style="width:100%;" #refImage src="{{selectedVersion.mapThumbnailDataUrl}}" />
      </div>

      <div class="row">
        <div class="col-sm-12">
          <label for="file">Upload Map File</label>
          <div>
            <input type="file" accept=".scx,.scm" id="file" (change)="handleMapFileInput($event.target.files)">
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-6 p-0 pr-1 text-center">
          <small>W I D T H</small>
          <input [(ngModel)]="selectedVersion.width" type="number" class="form-control text-center" />
        </div>
        <div class="col-sm-6 p-0 text-center">
          <small>H E I G H T</small>
          <input [(ngModel)]="selectedVersion.height" type="number" class="form-control  text-center" />
        </div>
      </div>


      <div class="row mt-2">
        <div (click)="selectTileset(tileset)" class="col-sm-3 p-0 app-tileset-selector {{getSelectedTileset(tileset) ? 'selected' : null}}" *ngFor="let tileset of tilesets">
          <div class="h-100 w-100">
            <img class="h-100 w-100" src="img/tilesets/{{tileset.thumbnailUrl}}" />
            <div class="app-tileset-overlay"></div>
          </div>
          <small   class="center2  text-center">{{tileset.displayName}}</small>
        </div>
      </div>
    </div>


    <div class="col-sm-9">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="mapName">Map Name</label>
          <input [(ngModel)]="selectedMap.displayName" type="text" class="form-control" id="mapName" placeholder="Map Name">
        </div>
        <div class="form-group col-md-4">
          <label for="status">Status</label>
          <select class="form-control" id="status" [(ngModel)]="selectedVersion.statusId">
            <option *ngFor="let status of mapStatuses" [value]="status.id" [selected]="isStatusSelected(status)">{{status.displayName}}</option>
          </select>
        </div>
        <div class="form-group col-sm-2">
          <label for="versionNumber">Version</label>
          <input [(ngModel)]="selectedVersion.versionNumber" type="number" class="form-control" id="versionNumber">
        </div>
        <div class="form-group col-md-2">
          <label for="compatibilityMode">Compatibility</label>
          <select class="form-control" id="compatibilityMode" [(ngModel)]="selectedVersion.compatibilityId">
            <option *ngFor="let comp of compatibilityModes" [value]="comp.id" [selected]="isCompatibilitySelected(comp)">{{comp.displayName}}</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="gameType">Map Type</label>
          <div>
            <span *ngFor="let mapType of mapTypes">
              <button (click)="toggleMapType(mapType)" class="btn btn-sm {{hasMapType(mapType) ? 'btn-success' : 'btn-secondary'}} m-1">{{mapType.displayName}} {{hasMapType(mapType) ? '&#x2713;' : null}}</button>
            </span>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="gameType">Game Type</label>
          <div>
            <span *ngFor="let gameType of gameTypes">
              <button (click)="toggleGameType(gameType)" class="btn btn-sm {{hasGameType(gameType) ? 'btn-success' : 'btn-secondary'}} m-1">{{gameType.displayName}} <span [hidden]="!hasGameType(gameType)">&#x2713;</span></button>
            </span>
          </div>
        </div>
      </div>


      <div class="mt-5 ">
        <button (click)="setDescMode('map')" class="mr-3 btn btn-sm {{isDescMode('map') ? 'btn-primary' : 'btn-secondary'}}">Map Description</button>
        <button (click)="setDescMode('changelog')" class="mr-3 btn btn-sm {{isDescMode('changelog') ? 'btn-primary' : 'btn-secondary'}}">Changelog</button>

        <div class="mt-3" *ngIf="isDescMode('map')">
          Describe your map here.
          <ckeditor style="height:300px;" [editor]="Editor" [(ngModel)]="selectedVersion.description"></ckeditor>
        </div>

        <div class="mt-3" *ngIf="isDescMode('changelog')">
          Describe the version changes here.
          <ckeditor style="height:300px;" [editor]="Editor" [(ngModel)]="selectedVersion.description"></ckeditor>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button (click)="submitNewMap()" class="btn btn-primary float-right" type="submit">Upload</button>
    </div>
  </div>
</div>
