
:host ::ng-deep .ck-editor__editable_inline {
  min-height: 200px;
}
 

.center2{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left:50%;
    transform:translateX(-50%);
    width:100%;
}

.app-tileset-overlay{
    background-color:rgb(0 0 0 / 0.50);
    width:100%;
    height:100%;
    position:absolute;
    top:0;

}
.app-tileset-overlay :hover{
  background-color: rgb(0 0 0 / 0.00) !important; 
}

.app-tileset-selector{
    cursor:pointer;
    border:solid 1px black;
}
  .app-tileset-selector:hover {
    background-color: rgb(0 0 0 / 0.00) !important;
    border: solid 1px #4cff00;
  }

  .app-tileset-selector.selected {
    background-color: rgb(0 0 0 / 0.00) !important;
    border: solid 1px #4cff00;
  }
