<div *ngIf="isLoaded">
  <div class="row">
    <div class="col-sm-2">
      <div class="m-3">
        <div style="position:relative">
          <img style="cursor:pointer" (click)="viewMapThumbnail(true)" class="w-100" src="{{getMapThumbnail()}}" />
          <div style="position: absolute; right: 0; top: 0;">
            {{getWidth()}} x {{getHeight()}}
          </div>
        </div>

        <div>
          <button class="btn btn-info btn-sm w-100"> Download</button>
        </div> 

        <div class="m-3"> 
          <div>
            <span *ngFor="let gameType of getGameTypes()">{{gameType.displayName}} · </span>
          </div>

          <div>
            <span *ngFor="let mapType of getMapTypes()">{{mapType.displayName}} · </span>
          </div>

          <div>
            {{getTileSet().displayName}}
          </div>

          <div>
            Created {{getCreatedDate()  | date: 'short'}}
          </div>
          <div>
            Modified {{getModifiedDate()  | date: 'short'}}
          </div>
        </div>

        <div class="m-3 mt-5">
          <h4 class="border-bottom">Author Maps</h4>
        </div>
      </div>

    </div>
    <div class="col-sm-8">
      <div>
        <button class="btn btn-primary btn-sm mr-3 float-right" (click)="edit()">Edit in Studio</button>
        <button class="btn btn-secondary btn-sm mr-3 float-right">Version History</button>
        <button class="btn btn-primary btn-sm mr-3 float-right" (click)="clickBack()">Back</button>
        <div>
          <div style="float:left;">
            <span title="{{getStatus().hint}}" class="map-tag mr-3">
              {{getStatus().displayName}}
            </span>
            <span title="{{getCompatibility().hint}}" class="map-tag">
              {{getCompatibility().displayName}}
            </span>
          </div>
          <h3 style="display: inline-block; margin-top: 9px; margin-left: 10px;">{{map.displayName}} {{getLatestVersion().versionNumber}}</h3>

        </div>
        <div class="mt-3">Description</div>
        <div>

          <ckeditor [disabled]="true" [config]="{ toolbar: [] }" (ready)="onReady($event)" [editor]="Editor" [(ngModel)]="map.description"></ckeditor>
        </div>
      </div>


      <div>
        <ckeditor  (ready)="onReady($event)" [editor]="Editor" [(ngModel)]="newMessage"></ckeditor>
        <button class="btn btn-primary">Post</button>
      </div>
    </div>
  </div>


  <div *ngIf="isShowingMapThumbnail" class="center view-image-container">
    <button (click)="viewMapThumbnail(false)" style="top:0; right:0" class="btn btn-primary btn-sm float-right hides">x</button>
    <img class="w-100" src="{{getMapThumbnail()}}" />
  </div>
</div>


<style>

  .view-image-container .hides {
    visibility: hidden;
  }

  .view-image-container:hover .hides {
    visibility: visible;
  }

  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .map-tag {
    border: 1px solid white;
    padding: 3px;
    margin-top: 10px;
    display: inline-block;
    
  }
</style>
