<div class="row"> 
  <div class="col-sm-4 mt-3 p-1" *ngFor="let map of maps">
    <div (click)="view(map)">
      <div class="text-center" style="position: absolute; width: 100%; background-color: #00000052; padding: 5px;">{{map.displayName}}</div>
      <img style="cursor: pointer; border: solid 1px #39709c; box-shadow: 3px 3px 3px #00000080; width:100%;" src="{{getMapThumbnailUrl(map)}}" />
    </div> 
  </div>
  <div class="col-sm-12 mt-3 p-1">
    <div (click)="view(map)">
      <a href="" class="text-center" style="position: absolute; width: 100%; background-color: #00000052; padding: 5px; cursor: pointer; border: solid 1px #39709c; box-shadow: 3px 3px 3px #00000080; width: 100%;">Browse More Maps</a>
      <!--<a style="cursor: pointer; border: solid 1px #39709c; box-shadow: 3px 3px 3px #00000080; width:100%;" >Browse More Maps</a>-->
    </div>
  </div>

</div>

<div *ngIf="selectedMap != null" style="position: fixed; height: 100%; top: 0; width: 100%; z-index: 10; background-color: #1b1c1c ">
  <app-view-map [map]="selectedMap" (back)="onBack($event)"></app-view-map>
</div>

